In [92]:
import csv                                                  #import csv

In [93]:
data= pd.read_csv("country_vaccination_stats (2).csv")      #read the given csv file
data

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [105]:
#Question 4 
# Group the data by country and calculate the minimum daily vaccinations
min_by_country = data.groupby('country')['daily_vaccinations'].min()

# Create a dictionary to map each country to its minimum daily vaccination value
min_dict = min_by_country.to_dict()

# Fill missing daily vaccinations with the minimum daily vaccination of relevant countries
for index, row in df.iterrows():
    if pd.isna(row['daily_vaccinations']):
        if row['country'] in min_dict:
            data.at[index, 'daily_vaccinations'] = min_dict[row['country']]
        else:
            data.at[index, 'daily_vaccinations'] = 0


print(df.head(10))

     country       date  daily_vaccinations   vaccines
0  Argentina 2020-12-29                 NaN  Sputnik V
1  Argentina 2020-12-30             15656.0  Sputnik V
2  Argentina 2020-12-31             15656.0  Sputnik V
3  Argentina 2021-01-01             11070.0  Sputnik V
4  Argentina 2021-01-02              8776.0  Sputnik V
5  Argentina 2021-01-03              7400.0  Sputnik V
6  Argentina 2021-01-04              6483.0  Sputnik V
7  Argentina 2021-01-05              7984.0  Sputnik V
8  Argentina 2021-01-06              8173.0  Sputnik V
9  Argentina 2021-01-07              8363.0  Sputnik V

In [109]:
#Question 5
med_by_country = data.groupby('country')['daily_vaccinations'].median() # Group the data by country and calculate the median daily vaccinations

top_countries = med_by_country.sort_values(ascending=False).head(3) # Sort the values in descending order and get the top 3 countries

# Print the result
print("Top 3 countries with highest median daily vaccinations:")
print(top_countries)

Top 3 countries with highest median daily vaccinations:
country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

In [110]:
#Question 6

data['date'] = pd.to_datetime(df['date'], format="%m/%d/%Y")       # Convert the date column to datetime format

df_date = data[df['date'] == '2021/01/06']                         # Filter for rows where the date is 1/6/2021

total_vaccinations = df_date['daily_vaccinations'].sum()         # Calculate the sum of the daily vaccinations for that date

print(total_vaccinations)

1485255.0